@mixin button($color: green){
  height: 24px;
  min-width: 24px;
  padding: 3px;
  text-align: center;
  position: relative;
  display: inline-block;
  color: rgba(0,0,0,.7);
  user-select: none;
  //border-radius: 10px;

  & span {
    font-size: 18px;
    user-select: none;
  }
  &:active,&.active{
    color: $color;
  }
  &:hover{
    background: #eee;
    cursor: pointer;
  }
}

@mixin clear-list(){
  list-style: mome;
  margin: 0;
  padding: 0;
}